* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-template-rows: repeat(3, 100px);
	/* grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: 200px; */
	gap: 10px;
	padding: 20px;
}

.gallery-item {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	display: grid;
	place-items: center;
}
